/* Priya Portfolio Brand colors */
/* Colors used:
Primary Color (pale light blue): #c0e1e1 ;
Secondary Color 1 (dark brown): #524c4c ;
Secondary Color 2 (pale blush pink): #faf8f8 ;
Secondary Color 3 (darker teal): #558282 ;

/* Typography used:
“Belleza” for header;
“News cycle” for Body;
*/
/* LAYOUT STYLING */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 250px;
  /* Logo should not max 250px */
}

header {
  background-color: #c0e1e1;
  /*faf8f8*/
  text-align: center;
  padding: 10px 0;
  position: fixed;
  /*margin: 10px;*/
  /* border-bottom: 2px solid #524c4c; */
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  width: 100%
}

main {
  padding-top: 133px;
  display: inline-block;
  width: 100%
}

body {
  background-color: #ffffff;
  font-family: 'News cycle', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #524c4c;
}

footer {
  background-color: #faf8f8;
  /*faf8f8*/
  text-align: center;
  padding: 10px 0;
  position: absolute;
  /*margin: 10px;*/
  /* border-bottom: 2px solid #524c4c; */
  -webkit-box-shadow: 0px 5px 7px 7px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 5px 7px 7px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 5px 7px 7px rgba(50, 50, 50, 0.75);
  width: 100%
}

/* selects unordered lists within the Nav element */
nav>ul, footer>div>div>ul {
  list-style-type: none;
  padding: 0;
}

/* Place all Nav list elements in 1 line/row */
nav>ul>li, footer>div>div>ul>li {
  display: inline-block;
  /*  width: 100% */
}

/* styling for each Nav list element */
nav>ul>li>a {
  padding: 0 15px;
  font-family: 'Belleza', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #558282;
  text-decoration: none;
}

/* styling for visited, on-hover, focus & active element
nav>ul>li>a:visited,
nav>ul>li>a:hover,
nav>ul>li>a:focus {
  background-color: #faf8f8;
  color: #524c4c;
}

nav>ul>li>a:active {
  color: #524c4c;
} */
/* footer - styling for each socialmedia Icon in footer */
footer>div>div>ul>li {
  padding: 15px;
}

/* footer Social media icons - styling*/
footer>div>div>ul>li>a {
  background-color: transparent;
  color: #558282;
}

/*footer>div>div>ul>li>a:visited,*/
footer>div>div>ul>li>a:hover,
footer>div>div>ul>li>a:focus {
  background-color: transparent;
  color: #524c4c;
}

footer>div>div>ul>li>a:active {
  color: #524c4c;
}

/* END - footer Social media icons - styling*/
/* For line below 'Read more' button */
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #524c4c;
}

#hero {
  text-align: center;
  background-color: #c0e1e1;
  /*faf8f8*/
  padding: 20px 0;
  width: 100%;
}

#hero span {
  display: block;
}

#work h1, h2 {
  text-align: center;
}

#work {
  background-color: #ffffff;
  /*faf8f8*/
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

/* styling for selected element from the Nav list */
h1, h2, h3, h4 {
  font-family: 'Belleza', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #558282;
  text-decoration: none;
  transition: 0.2s opacity;
  /* No underlining */
}

/* styling for visited, on-hover and focus element
a:hover,
a:focus,
a:visited {
  /*background-color: #faf8f8;
  color: #524c4c;
  /*  text-decoration: underline;
}*/
a:active {
  /* selected link */
  color: #524c4c;
}

/* Button - Read more*/
.button {
  display: inline-block;
  background-color: #c0e1e1;
  color: #524c4c;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #558282;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  background-color: #558282;
  color: #faf8f8;
  text-decoration: none;
}

.button:active {
  background-color: #faf8f8;
  color: #524c4c;
  text-decoration: none;
}

/* End Button */
/* Button - contact/Email */
.button.contact {
  font-family: 'Belleza', sans-serif;
  background-color: transparent;
  color: #558282;
  text-transform: uppercase;
  border: 2px solid #558282;
  transition: 0.2s opacity;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #c0e1e1;
  color: #524c4c;
  border: 2px solid #558282;
}

.button.contact:active {
  background-color: #558282;
  color: #524c4c;
}

/* End Button */
/* ==============================
CSS Animation
================================= */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }

  /*0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}*/
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  /* OR
  .sun {
  animation: 4s color-change infinite alternate linear;
  }*/
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* END - CSS Animation

/*Media Queries */
/*Original layout above is based on small screen sizes (mobile-first!)*/
/* ==============================
Common Styles for all device sizes
================================= */
[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }

  /* styling for each Nav list elements */
  nav>ul>li>a {
    /*  margin: 0px 10px;*/
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }

  /* Top and Bottom borders go out */
  li.topBotomBordersOut a:before, li.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #524c4c;
    content: "";
    opacity: 0;
    transition: all 0.3s;
  }

  li.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
  }

  li.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
  }

  li.topBotomBordersOut a:hover:before, li.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 60%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

/*End - Media Queries */
